@font-face {
  font-family: "CreatoDisplay";
  src: url("./fonts/CreatoDisplay/CreatoDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "BreeSerif";
  src: url("./fonts/BreeSerif/BreeSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ZaiSmith-CoronaGalaxie";
  src: url("./fonts/ZaiSmith/zai_Smith-CoronaGalaxieTypewriter.otf")
    format("opentype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "CreatoDisplay";
  max-width: 100%;
}

.contenedor-grande {
  margin: 0 auto;
  margin-top: clamp(20px, 10vw, 80px);
  max-width: clamp(300px, 90vw, 1500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: clamp(20px, 10vw, 80px);
}

.titulo {
  cursor: default;
  padding: clamp(10px, 5vw, 40px);
}

.titulo h2,
.titulo h3 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "ZaiSmith-CoronaGalaxie";
}

.titulo p {
  text-align: center;
  font-family: "BreeSerif";
  font-size: 12px;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 3vw, 25px);
  position: relative;
  margin-top: 20px;
  width: clamp(250px, 70vw, 800px);
}

.boton {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.151);
  padding: clamp(10px, 2vw, 15px);
  border: 0.5px solid rgba(0, 0, 0, 0.151);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  font-family: "CreatoDisplay";
  font-size: clamp(14px, 1.2vw, 18px);
  display: inline-block;
  overflow: hidden;
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

.boton::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 15%;
  height: 1.5px;
  background: currentColor;
  transform: translateX(-50%) scaleX(1);
  transform-origin: center;
  transition: 0.3s ease;
}

.boton:hover::after {
  width: 90%;
}

.mensaje {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(250px, 80vw, 400px);
  height: clamp(200px, 50vh, 250px);
  background: white;
  padding: clamp(10px, 2vw, 15px);
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-family: "CreatoDisplay";
}

.mensaje::-webkit-scrollbar {
  width: 8px;
}

.mensaje::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
  border-radius: 10px;
}

.mensaje::-webkit-scrollbar-thumb {
  background: rgb(221, 220, 220);
  border-radius: 10px;
}

.mensaje::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 197, 197);
  cursor: pointer;
}

.foto-img {
  margin-top: 50px;
  background-image: url("img/eren.jpg");
  background-size: cover;
  background-position: center;
  width: clamp(250px, 60vw, 600px);
  height: clamp(150px, 30vw, 300px);
  border-radius: 12px;
}

.overlay-blur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 500;
  display: none;
}
.overlay-blur.activo {
  display: block;
}
